<div class="text-center p-1 bg-dark text-white" >
    <a href= "covid-data" class = "text-primary font-weight-bold"></a>
        <a href = "#general" class = "text-primary font-weight-bold">Worldwide statistics</a><b>  .  </b>
    <a href = "#country" class = "text-primary font-weight-bold">Country statistics</a>
    <b>  .  </b>
    <a href = "#newsW" class = "text-primary font-weight-bold">News</a>
</div>


<div id="general" class=" p-2 bg-light font-weight-bold" >
Corona Virus Summary Worldwide
</div>

<div class="my-3">
    <table class="table table-bordered ">
        <tbody>
            <tr class= table-warning>
                <td>Total Cases</td>
                <td>{{dataWorld?.totalCases}}</td>
            </tr>
            <tr class= table-warning>
                <td>New Cases</td>
                <td>{{dataWorld?.newCases}}</td>
            </tr>
            <tr class= table-warning>
                <td>Active cases</td>
                <td>{{dataWorld?.activeCases}}</td>
            </tr>
            <tr class= table-primary>
                <td>Total Recovered</td>
                <td>{{dataWorld?.totalRecovered}}</td>
            </tr>
            <tr class= table-primary>
                <td>New Recovered</td>
                <td>{{dataWorld?.newRecovered}}</td>
            </tr>
            <tr class= table-primary>
                <td>Recovery Rate</td>
                <td>{{dataWorld?.recoveryRate}} %</td>
            </tr>
            <tr class= table-danger>
                <td>Total Death</td>
                <td>{{dataWorld?.totalDeaths}}</td>
            </tr>
            <tr class= table-danger>
                <td>New Deaths</td>
                <td>{{dataWorld?.newDeaths}}</td>
            </tr>
            <tr class= table-danger>
                <td>Mortality rate</td>
                <td>{{dataWorld?.mortalityRate}} %</td>
            </tr>

        </tbody>
    </table>
</div>

<div class=" p-2 bg-light font-weight-bold" >
Corona Virus Cases Distribution Worldwide
</div>

<div style="display: block;" *ngIf="pieChartData">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
</div>

<div class=" p-2 bg-light font-weight-bold" >
Daily Corona Virus Cases WorldWide
</div>

<div class="chart-wrapper" *ngIf="barChartData">
    <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>

<div class=" p-2 bg-light font-weight-bold" >
Total Corona Virus Cases WorldWide
</div>

<div class="chart-wrapper" *ngIf="lineChartData">
    <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
    </canvas>
</div>

<div id="country" class=" p-2 bg-light font-weight-bold" >
Corona Virus Cases by Country
</div>

<div class="my-3" *ngIf="sortedData && sortedData.length > 0">
    <table class="table table-bordered" matSort (matSortChange)="sortData($event)">
        <thead>
            <tr>
                <th mat-sort-header="country" class= table-secondary>Country</th>
                <th mat-sort-header="newCases" class= table-warning>New Cases</th>
                <th mat-sort-header="totalCases" class= table-warning>Total Cases</th>
                <th mat-sort-header="newRecovered" class= table-primary>New Recoveries</th>
                <th mat-sort-header="totalRecovered" class= table-primary>Total Recoveries</th>
                <th mat-sort-header="newDeaths" class= table-danger>New Deaths</th>
                <th mat-sort-header="totalDeaths" class= table-danger>Total Deaths</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of sortedData"
                [routerLink]="['/country', data.country]" ng-click= "covidService.goToCountry(data.country)">
                <td class= table-secondary>{{ data.country }}</td>
                <td class= table-warning>{{ data.newCases }}</td>
                <td class= table-warning>{{ data.totalCases }}</td>
                <td class= table-primary>{{ data.newRecovered }}</td>
                <td class= table-primary>{{ data.totalRecovered}}</td>
                <td class= table-danger>{{ data.newDeaths }}</td>
                <td class= table-danger>{{ data.totalDeaths }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div id="newsW" class=" p-2 bg-light font-weight-bold" >
Worldwide News
</div>

<div class="my-3" *ngIf="news && news.length > 0">
    <table class="table table-bordered table-striped">
        <thead>
            <tr class = "table-active" >
                <th>Date</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let news_item of news">
                <td>{{ news_item.date }}</td>
                <td>{{ news_item.writer }}</td>
                <td>{{ news_item.descrip }}</td>
            </tr>
        </tbody>
    </table>
</div>


<button class = "btn btn-primary" (click)= "login()" >Add News</button>


