<div class="text-center p-1 bg-dark text-white" >
    <a href= "covid-data" class = "text-primary font-weight-bold"> Worldwide </a> <b>></b>
    {{ name }}
</div>


<div class=" p-2 bg-light font-weight-bold" >
Corona Virus Summary in {{ name }}
</div>

<div class="my-3">
    <table class="table table-bordered">
        <tbody>
            <tr class= table-warning>
                <td>Total Cases</td>
                <td>{{dataC?.totalCases}}</td>
            </tr>
            <tr class= table-warning>
                <td>New Cases</td>
                <td>{{dataC?.newCases}}</td>
            </tr>
            <tr class= table-warning>
                <td>Active cases</td>
                <td>{{dataC?.activeCases}}</td>
            </tr>
            <tr class= table-primary>
                <td>Total Recovered</td>
                <td>{{dataC?.totalRecovered}}</td>
            </tr>
            <tr class= table-primary>
                <td>New Recovered</td>
                <td>{{dataC?.newRecovered}}</td>
            </tr>
            <tr class= table-primary>
                <td>Recovery Rate</td>
                <td>{{dataC?.recoveryRate}} %</td>
            </tr>
            <tr class= table-danger>
                <td>Total Death</td>
                <td>{{dataC?.totalDeaths}}</td>
            </tr>
            <tr class= table-danger>
                <td>New Deaths</td>
                <td>{{dataC?.newDeaths}}</td>
            </tr>
            <tr class= table-danger>
                <td>Mortality rate</td>
                <td>{{dataC?.mortalityRate}} %</td>
            </tr>

        </tbody>
    </table>
</div>

<div id="country" class=" p-2 bg-light font-weight-bold" >
Corona Virus Cases Distribution in {{name}}
</div>

<div style="display: block;" *ngIf="pieChartData">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
    </canvas>
</div>

Daily Corona Virus Cases in {{name}}

<div class="chart-wrapper" *ngIf="barChartData">
    <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
</div>

Total Corona Virus in {{name}}

<div class="chart-wrapper" *ngIf="lineChartData">
    <canvas baseChart 
            [datasets]="lineChartData" 
            [labels]="lineChartLabels" 
            [options]="lineChartOptions"
            [legend]="lineChartLegend" 
            [chartType]="lineChartType" 
            [plugins]="lineChartPlugins">
    </canvas>
</div>

<div class="my-3" *ngIf="news && news.length > 0">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Author</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let news_item of news">
                <td>{{ news_item.date }}</td>
                <td>{{ news_item.writer}}</td>
                <td>{{ news_item.descrip }}</td>
            </tr>
        </tbody>
    </table>
</div>

<button (click)= "login()" >Add News</button>