<div class="text-center">
    <div  class="text-right p-2">
        <button *ngIf= signedIn class="btn btn-danger" (click)="login()" >
            Sign Out
        </button>
    </div>
    <div  class="text-right p-2">
        <button *ngIf= !signedIn class="btn btn-info" 
        (click) = "login()"
        >
            Sign In  
        </button>
    </div>
    
    <div  class="text-right p-2">
        <button *ngIf= "router.url != '/news'" class="btn btn-success" 
        (click) = "goToNews()"
        >
            Add News
        </button>
    </div>
    
    
    <div id = "titlelogo">
        
        <h1 id = "titletext">
            <img id = "covidimage" src="https://firebasestorage.googleapis.com/v0/b/covid19-57420.appspot.com/o/94a941c850700ab51822a925c4e3b292.jpg?alt=media&token=c3160c98-7c52-413a-8fa9-10c7bbb42cdb" alt = "virus image" >
            COVID-19
        </h1>


    </div>
    <b id = "subtitle">Live Updates and Statistics</b>
</div>

<div class="container my-5">

    <router-outlet></router-outlet>

</div>



<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 bg-light" >
    Data Source:
    <a class="text-primary" href="https://covid19api.com/">COVID-19 API / Johns Hopkins CSSE</a>
  </div>
</footer>
