<div class="text-center p-1 bg-dark text-white" >
    <a href= "covid-data" class = "text-primary font-weight-bold"></a>
        <a href = "worldwide" class = "text-primary font-weight-bold"> . Worldwide data . </a>
</div>

<div class="row">
    <h3>Welcome {{ user.displayName }}</h3>
</div>

<div class="my-3" *ngIf="news && news.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let news_item of news">
        <td>{{ news_item.date }}</td>
        <td>{{ news_item.descrip }}</td>
        <td>{{ news_item.country }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="isEligible">
    <app-add-news></app-add-news>
</div>

<div *ngIf="isAsking">
Your demand to add news was submitted.
</div>

<div *ngIf="!isAsking" class = "text-center">
    <button class="btn btn-success" 
        (click) = "askEligible()"
        >
            Click here to demand permission to add news.
        </button>
</div>

<div *ngIf="user.uid = '' ">

</div>





