<div class="row">
  <div class="col-sm-6">
    <h3>{{ user.displayName }}</h3>
  </div>
  <div class="col-sm-6 text-right">
  <a href= "worldwide" target="_blank"><input type="button" value= "See data"></a>
    <button class="btn btn-danger" (click)="covidService.signOut()">
      Sign Out
    </button>
  </div>
</div>

<div class="my-3" *ngIf="news && news.length > 0">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Country</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let news_item of news">
        <td>{{ news_item.date.toDate() | date }}</td>
        <td>{{ news_item.description }}</td>
        <td>{{ news_item.country }}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-add-news></app-add-news>



